.contacts {
  max-width: 500px;
  margin: var(--margin-section);
  padding: 50px;
  background: #000000;
  background: var(--bg-gradient-section);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.contacts h2 {
  font-size: var(--font-size-title);
  margin-bottom: 15px;
}

.contacts p {
  margin: 8px 4px;
}

.contacts a {
  color: #ffffff;
  text-decoration: none;
  transition: all .3s ease-in;
}

.contacts a:hover {
  color: var(--hover-color);
}

.social-media {
  list-style: none;
  display: flex;
}

.social-media .social-media__link {
  margin: 8px;
}

.social-media .social-media__link img {
  width: 50px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
